
<!-- Routing Concept -->
<!-- Static Routing -->

<header>
  <img src="https://i.pinimg.com/736x/71/b3/e4/71b3e4159892bb319292ab3b76900930.jpg" width="50px" height="50px" alt="">
  <h1>Forword Project</h1>
</header>

<nav style="background-color:blueviolet">
  <ul style="list-style-type: none;">
    <li><a routerLink="/Home">Home</a></li>
    <li><a href="#">Products</a></li>
    <li><a routerLink="about">About</a></li>
    <li><a routerLink="contact">Contact</a></li>
    <li>
      <a routerLink="auth/signIn">Sign In</a>
    </li>
    <li><a routerLink="auth/signUp">Sign Up</a></li>
    <li><a routerLink="child">Child Component</a></li>
    <li><a routerLink="aboutme">About Me</a></li>
    <li><a routerLink="aboutcompany">About Company</a></li>
  </ul>
</nav>
