<div class="continer-fluid">
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://static.mygov.in/saas/s3fs-saas/arunachal/styles/large-image/public/mygov_1596007378455770.jpg" class="d-block w-100" alt="..." height="350px">
      </div>
      <div class="carousel-item">
        <img src="https://assets.telegraphindia.com/telegraph/2021/Apr/1619544046_28metxav_5c.jpg" class="d-block w-100" alt="..." height="350px">
      </div>
      <div class="carousel-item">
        <img src="https://content3.jdmagicbox.com/comp/mumbai/w7/022pxx22.xx22.191015091539.b1w7/catalogue/forward-classes-dombivli-west-thane-tutorials-4fsm87s808.jpg" class="d-block w-100" alt="..." height="350px">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <section class="sec1">
    <h1>Welcome to Forword Project</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est soluta optio dicta quaerat eum odit illum ducimus rerum eos sit? Minima quas tempore saepe ad autem animi ab nemo minus.</p>
  </section>
</div>
